

.chatOnlineFriend{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;

}
.chatOnlineImgContainer{
    position: relative;
    margin-right: 10px;
}

.chatOnlineImg{
    width: 40px;
    height: 40px;
    object-fit:cover;
    border-radius: 50%;
}

.chatOnlineBadge{
    position: absolute;
    width: 10px; 
    height: 10px;
    background-color:limegreen;
    top: 0;
    right: 2px;
    border-radius: 50%;
}